@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

*{
    box-sizing: border-box;
}
:root{
    font-size: 14px;
}
body{
    margin: 0;
    font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;

}

/* umumiy stillar */

.container{
    max-width: 1280px;
    margin: 0 auto;
}
.inner-container{
    max-width: 1110px;
    margin: 0 auto;
}
.row{
    display: flex;
    }
a{
    text-decoration: none;
}
.first-theme{
    color: #FEFCF7;
    font-size: 5rem;
    margin:0;
}
.article-text{
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-size: 1.14rem;
    line-height: 1.85rem;
}

.create{
    background: #0E8784;
    color: #FEFCF7;
font-size: 1.28rem;
border-radius: 6px;
padding: 15px 31px;
}

.create:hover{
    background: #66D2CF;

}
.greytext{
    color:  #83888F;
    font-size: 1.70rem;
}


/*first -section */

.main-header{
    padding-top: 44px;
}

.main-header .row{
    justify-content: space-between;
    align-items: center;
}

.main-nav a{
text-decoration: none;
color: #83888F;
font-size: 0.85rem;
font-family: 'Barlow', sans-serif;
margin: 17px;
}
.main-nav a:hover{
    color: #333D4B;
}

.plan{
    text-transform: uppercase;
}

.first-article{
    background-image: url(../img/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    height: 600px;
    margin-top: 32px;
}
.article-page{
    width: 493px;
    padding-top: 70px;
}

.first-article .article-text{
    margin-bottom: 56px;
    width: 443px;
}

/* second-section */
.second-section{
    margin-top: 50px;
    background-image: url(../img/shadowtext.jpg);
    background-repeat: no-repeat;
    background-position: center 80px;
}


.column4{
    width: 25%;
    text-align: center;
}
.column4 img {
    margin-top: 210px;
}

.second-text{
    margin: 0 auto;
    width: 225px;
    text-align: center;
}
.coffee-name{
    font-size: 1.70rem;
    color: #333D4B;
}

.column4 .article-text{
    color: #333D4B;

}

/* third-section */

.second-article{
    background-color:#333D4B ;
    border-radius: 10px;
    height: 600px;
    
}

.second-article h3{
    color: #FEFCF7;
font-size: 2.85rem;
text-align: center;
padding-top: 100px;
}

.section-text3{
    color: #FEFCF7;
width: 540px;
text-align: center;
margin: 0 auto;
font-family: 'Barlow', sans-serif;
font-size: 1.14rem;
line-height: 1.85rem;
}

.card{
    width: 350px;
    background: #0E8784;
    margin-top: 90px;
border-radius: 8px;
text-align: center;

}


.card:not(:last-child){
    margin-right: 30px;
}
.card img{
    margin-top: 70px;
}
.third-section .coffee-name{
    color: #FEFCF7;
    margin-bottom: -24px;
}

.width{
   width: 255px;
   margin: 40px auto;
}

/* four-section */

.four-section{
    margin-top: 200px;
}


.four-section .path{
    margin-top: 80px;
    position: relative;
}

.line{
    display: inline-block;
    width: 750px;
    border: 2px solid #FDD6BA;
}
.circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #0E8784;
    position: absolute;
    background-color: white;
}

.circle:nth-child(2){
   
    left: 720px;
}

.circle:nth-child(3){
    
    left: 370px;
}

.circle:nth-child(4){
  
    left: 0;
}
.four-section .row{
    justify-content: space-between;
}

.works{
    margin-top: 80px;
   margin-bottom: 60px;
}
.works h3{
    color: #333D4B;
font-size: 2.02rem;
width: 255px;
}

.four-section .article-text{
    color: #333D4B;
width: 285px;
}

/* main-footer */

.main-footer{
    background: #2C343E;
padding: 44px;
margin-top: 200px;
margin-bottom: 80px;
}

.main-footer .row{
    justify-content: space-between;
    align-items: center;
}

.main-footer .menu a{
    color: #83888F;
font-size: 0.85rem;
font-family: 'Barlow', sans-serif;
margin: 17px;
}
.menu a:hover{
    color: #FEFCF7;

}

.sayts a{
    color:  #FEFCF7;
    font-size: 1.70rem;
    margin: 0 12px;
}

.sayts a:hover{
    color: #FDD6BA;

}

/* 2 PAGE */

.latte{
    background-image: url(../img/bglatte.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    height: 600px;
}

.second-theme{
    color: #FEFCF7;
margin-top: 60px;
    font-size: 2.85rem;
}

/* page2 */


.col-lg-5 img{
border-radius: 8px;
}
.texts{
    padding-left: 120px;
}
 
 .bluedark{
    color: #333D4B;
}

/* page3 */

.page3{
    margin-top: 130px;
}
.bgcolor{
    background: #333D4B;
border-radius: 10px;
padding-bottom: 100px;
}

.texts2{
    padding-top: 50px;
    padding-right: 92px;
}
.latteheart{
    margin-top: -100px;
}

/* page4 */
.page4{
    margin-top: 100px;
}

.page4 img{
    margin-top: 90px;
}
.page4 h3{
    color: #333D4B;
    font-size: 2.02rem;
    margin-top: 45px;
}
.page4 .article-text{
    margin-top: 24px;
    color: #333D4B;
    width: 285px;
}


/* 3PAGE */

.heart{
    background-image: url(../img/bgheartlatte.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
    height: 600px;
}

/* choosecoffee */
.choosecoffee{
    background-color:#333D4B;
    border-radius: 3px;
}

.choosecoffee span{
    background-color: transparent;
}

.choosecoffee .col-lg-4{
    margin-top: 80px;
}

.choosecoffee h3{
    color: #FEFCF7;
    font-size: 2.85rem;
    margin-top: 38px;
}
.choosecoffee .article-text{
    width: 285px;
    margin-top: 42px;
    margin-bottom: 80px;
}

.choosecoffee .path{
    padding-top: 80px;
    position: relative;
   
}

/* accardion */
.accardion-section{
    margin-top: 100px;
}

.number{
    font-size: 1.50rem;
    color: #333D4B;
margin-right: 24px;

}

h5:hover .number{
    color: #0E8784;

}
h5:hover h5 {
    opacity: 1;
}

.col-lg-3 h5{
    font-size: 1.50rem;
    color: #333D4B;
    opacity: 0.7;

}
.box{
    width: 228px;
    
    border-radius: 8px;
    background: #F4F1EB;
    margin: 12px;
}

.status{
    width: 650px;
    background: #2C343E;
border-radius: 5px;
}
.order{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 50%;
text-transform: uppercase;
font-weight: 400;
}


